#macro( showEscortingUsers $keyword $escortingUsers )
#if ($userAdmin && $escortingUsers.size() > 0)
<div class="sidebarbox-border bg-red02">
   	<div class="sidebarbox-title-shading bg-red05">
    		$action.getText('priki.escorting')
    </div>
    <UL>
        #foreach ($result in $escortingUsers)
            <li><a href="$basePath/userHistory.pr?postUser=${result.keyword}">$result.completeName</a> - <a href="$basePath/admin/unescort.pr?user=${result.keyword}&keyword=$keyword">Remove</a></li>
        #end
    </UL>
</div>
#end
#end				  		
				  		